<webobject name="PageWrapper">
	
	<webobject name="PartialForm">
		This demonstrates partial form submission (submits a single field at a time on change).<br/>
		State: <webobject name="StatePopup"/><br/>
		<wo:WOGWTUpdateContainer id="countyDiv">
			County: <webobject name="CountyPopup"/>
			<wo:WOGWTUpdateContainer id="streetDiv">
				Street: <webobject name="StreetPopup"/>
				<wo:WOGWTUpdateContainer id="resultDiv">
					Selected street: <webobject name="StreetString"/>
				</wo:WOGWTUpdateContainer>
			</wo:WOGWTUpdateContainer>
		</wo:WOGWTUpdateContainer>
	</webobject>

</webobject>