{
    attributes = (
        {
            allowsNull = Y; 
            columnName = aBigDecimal; 
            name = aBigDecimal; 
            prototypeName = currencyAmount; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = aBoolean; 
            name = aBoolean; 
            prototypeName = boolean; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = aDate; 
            name = aDate; 
            prototypeName = date; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = anInt; 
            name = anInt; 
            prototypeName = intNumber; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = aString; 
            name = aString; 
            prototypeName = varchar50; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = rootEntityID; 
            name = rootEntityID; 
            prototypeName = id; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = toOneEntityID; 
            name = toOneEntityID; 
            prototypeName = id; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (rootEntityID, toOneEntityID); 
    className = "your.app.eo.RootEntity"; 
    classProperties = (aBigDecimal, aBoolean, aDate, anInt, aString, toManyEntities, toOneEntity); 
    externalName = RootEntity; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (aBigDecimal, aBoolean, aDate, anInt, aString, toManyEntities, toOneEntity); 
        "_javaClientClassName" = "your.app.gwt.eo.RootEntityClient"; 
    }; 
    name = RootEntity; 
    primaryKeyAttributes = (rootEntityID); 
    relationships = (
        {
            destination = ToManyEntity; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = rootEntityID; sourceAttribute = rootEntityID; }); 
            name = toManyEntities; 
        }, 
        {
            destination = ToOneEntity; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = toOneEntityID; sourceAttribute = toOneEntityID; }); 
            name = toOneEntity; 
        }
    ); 
}
