{
    attributes = (
        {allowsNull = Y; columnName = PHOTO; name = photo; prototypeName = blob; }, 
        {
            allowsNull = N; 
            columnName = "TALENT_ID"; 
            name = talentID; 
            precision = 9; 
            prototypeName = id; 
        }
    ); 
    attributesUsedForLocking = (talentID); 
    className = "your.app.server.eo.TalentPhoto"; 
    classProperties = (talent); 
    externalName = "TALENT_PHOTO"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (talent); 
        "_javaClientClassName" = "your.app.gwt.eo.TalentPhotoClient"; 
    }; 
    maxNumberOfInstancesToBatchFetch = 10; 
    name = TalentPhoto; 
    primaryKeyAttributes = (talentID); 
    relationships = (
        {
            destination = Talent; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = talentID; sourceAttribute = talentID; }); 
            name = talent; 
        }
    ); 
}
