<webobject name="PageWrapper">

	<webobject name="ButtonForm">
		This demonstrates the ajax submit button. Watch for the results in the box below.<br/>
		First Name: <webobject name="FirstNameField"/><br/>
		Last Name: <webobject name="LastNameField"/><br/>
		<webobject name="MaleRadio"/> Male <webobject name="FemaleRadio"/> Female<br/>
		<webobject name="BigCheckBox"/> Big <webobject name="TallCheckBox"/> Tall<br/>
		Hair color: <webobject name = "HairColorPopup"/><br/>
		Notes: <webobject name = "Notes"/><br/>
		<webobject name="HelloButton"/>
		<webobject name="GoodbyeButton"/>
	</webobject>
	
	<div id="formOutsideContainer" style="border: 1px solid black;">
		The results of the form will appear here.  This container is outside the form.<br/>
		Button: <webobject name="GreetingString"/><br/>
		First Name: <webobject name="FirstNameString"/><br/>
		Last Name: <webobject name="LastNameString"/><br/>
		Sex: <webobject name = "IsMale">Male</webobject><webobject name = "IsFemale">Female</webobject><br/>
		Big? <webobject name = "IsBig">YES</webobject><webobject name = "NotBig">NO</webobject><br/>
		Tall? <webobject name = "IsTall">YES</webobject><webobject name = "NotTall">NO</webobject><br/>
		Hair color: <webobject name="HairColorString"/><br/>
		Notes: <webobject name="NotesString"/><br/>
	</div>

</webobject>