/*// GWT BASE STYLE //////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/

body,table td,select {
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size: small;
}

pre {
	font-family: "courier new", courier;
	font-size: small;
}

body {
	color: black;
	margin: 0px;
	border: 0px;
	padding: 0px;
	background: #fff;
	direction: ltr;
}

a,a:visited,a:hover {
	color: #0000AA;
	text-decoration: none;
}

/*// MY STYLE RULES //////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/

#sidebar {
	float: left;
	width: 250px;
	border: 1px solid black;
	padding: 10px;
	background-color: #e0e0e0;
}

#content {
	float: left;
	width: 500px;
	margin: 0 10px;
}

.dataTable {
	border-collapse: collapse;
}

.dataTable td {
	padding: 0 5px;
}

.header {
	font-weight: bold;
}

ul {
	margin: 0;	
}

/*// WIDGET STYLE RULES //////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/

.gwt-Hyperlink {
	cursor: pointer;
}

.gwt-Label {
	padding: 20px;	
}

/* fix bug in the standard themes with DecoratorPanel and DialogBox */
.gwt-DecoratorPanel .topLeft,
.gwt-DecoratorPanel .topRight,
.gwt-DecoratorPanel .bottomLeft,
.gwt-DecoratorPanel .bottomRight {
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-DialogBox .dialogTopLeft,
.gwt-DialogBox .dialogTopRight,
.gwt-DialogBox .dialogBottomLeft,
.gwt-DialogBox .dialogBottomRight {
  width: 5px;
  height: 5px;
  zoom: 1;
}

