<webobject name="PageWrapper">
	This is an ajax update link outside the update container.<br/>
	<webobject name="OutsideLink">Outside Link</webobject>
	<div id="outsideContainer" style="border: 1px solid black;">
		<webobject name="Now"/><br/>
	</div>
	
	<br/>
	<br/>
	
	<div id="insideContainer" style="border: 1px solid black;">
		This is an ajax update link inside the update container.<br/>
		<webobject name="InsideLink">Inside Link</webobject><br/>
		<webobject name="Now"/><br/>
	</div>

</webobject>