{
    attributes = (
        {
            allowsNull = N; 
            columnName = name; 
            name = name; 
            prototypeName = varchar50; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = rootEntityID; 
            name = rootEntityID; 
            prototypeName = id; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = toManyEntityID; 
            name = toManyEntityID; 
            prototypeName = id; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (name, rootEntityID, toManyEntityID); 
    className = "your.app.eo.ToManyEntity"; 
    classProperties = (name, rootEntity); 
    externalName = ToManyEntity; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (name); 
        "_javaClientClassName" = "your.app.gwt.eo.ToManyEntityClient"; 
    }; 
    name = ToManyEntity; 
    primaryKeyAttributes = (toManyEntityID); 
    relationships = (
        {
            destination = RootEntity; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = rootEntityID; sourceAttribute = rootEntityID; }); 
            name = rootEntity; 
        }
    ); 
}
