{
    attributes = (
        {
            allowsNull = N; 
            columnName = name; 
            name = name; 
            prototypeName = varchar50; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = toOneEntityID; 
            name = toOneEntityID; 
            prototypeName = id; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (name, toOneEntityID); 
    className = "your.app.eo.ToOneEntity"; 
    classProperties = (name, rootEntities); 
    externalName = ToOneEntity; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (name); 
        "_javaClientClassName" = "your.app.gwt.eo.ToOneEntityClient"; 
    }; 
    name = ToOneEntity; 
    primaryKeyAttributes = (toOneEntityID); 
    relationships = (
        {
            destination = RootEntity; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = toOneEntityID; sourceAttribute = toOneEntityID; }); 
            name = rootEntities; 
        }
    ); 
}
