<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>GWTDemo</title>
	<webobject name="Stylesheet"/>
</head>
<body id="body" style="margin: 10px 20px;">

<webobject name="WOGWTScript"/>

<div id="sidebar">
	HTTP - Add a little gwt "spice" by dynamically updating parts of the page with the results of component actions.<br/>
	<ul>
		<li><webobject name="UpdateLink">Ajax Update Link</webobject></li>
		<li><webobject name="PeriodicUpdate">Periodic Update Container</webobject></li>
		<li><webobject name="SubmitButton">Ajax Submit Button</webobject></li>
		<li><webobject name="SubmitOnChange">Submit and Update on Change</webobject></li>
	</ul>
	<hr/>
	UI - Implement your entire UI in Java very similar to the way you would use Swing and still access component actions.<br/>
	<ul>
		<li><webobject name="DynamicUI">Dynamically constructed UI</webobject></li>
	</ul>
	<hr/>
	RPC - Transfer real data objects to and from the server instead of sending HTML
	<ul>
		<li><webobject name="RPCExample">Transfer EOs</webobject></li> 
	</ul>
	<hr/>
	Widgets - Complex widgets not available in plain HTML
	<ul>
		<li><webobject name="RoundedCorners">Rounded Corners</webobject></li>
		<li><webobject name="RichText">Rich Text</webobject></li> 
		<li><webobject name="Tree">Tree</webobject></li> 
		<li><webobject name="AutoCompletion">Auto-Completion</webobject></li> 
		<li><webobject name="DialogExample">Dialog Box</webobject></li>
	</ul>
	<hr/>
	Misc
	<ul>
		<li><webobject name="ImageBundleLink">Image Bundle</webobject></li>
		<li><webobject name="CompileTimeIDChecking">Compile-Time ID Checking</webobject></li>
	</ul>
</div>

<div id="content">
	<webobject name="Content"/>
	<webobject name="ViewSource"/>
</div>

</body>
</html>