<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>GWTDemo - Main</title>
	<style type="text/css">
		.gwt-Hyperlink {
			color: blue;
			text-decoration: underline;
			cursor: pointer;
			display: inline;
		}
	</style>
</head>
<body id="body">
<webobject name="WOGWTScript"/>
<webobject name="WOGWTActionPublisher"/>
<div>
	The main page<br/>
	<webobject name="UpdateTimeLink">Refresh</webobject><br/>
	Go to <webobject name="Page2Link">Page2</webobject>. Try clicking this after doing several ajax updates to verify that you don't get a backtracking error.<br/>
	<br/>
	
	This is an ajax update link outside the update container.<br/>
	<webobject name="OutsideLink">Outside Link</webobject>
	<div id="outsideContainer" style="border: 1px solid black;">
		<webobject name="Now"/><br/>
	</div>
	
	<br/>
	<br/>
	
	<div id="insideContainer" style="border: 1px solid black;">
		This is an ajax update link inside the update container.<br/>
		<webobject name="InsideLink">Inside Link</webobject><br/>
		<webobject name="Now"/><br/>
	</div>
	
	<br/>
	<br/>
	
	<webobject name="PeriodicUpdateContainer">
		This is a periodic update container that updates every 2 seconds.<br/>
		<webobject name="Now"/><br/>
	</webobject>
	
	<br/>
	<br/>
	
	<webobject name="ButtonForm">
		This demonstrates the ajax submit button. Watch for the results in the box below.<br/>
		First Name: <webobject name="FirstNameField"/><br/>
		Last Name: <webobject name="LastNameField"/><br/>
		<webobject name="MaleRadio"/> Male <webobject name="FemaleRadio"/> Female<br/>
		<webobject name="BigCheckBox"/> Big <webobject name="TallCheckBox"/> Tall<br/>
		Hair color: <webobject name = "HairColorPopup"/><br/>
		Notes: <webobject name = "Notes"/><br/>
		<webobject name="HelloButton"/>
		<webobject name="GoodbyeButton"/>
	</webobject>
	<div id="formOutsideContainer" style="border: 1px solid black;">
		The results of the form will appear here.  This container is outside the form.<br/>
		Button: <webobject name="GreetingString"/><br/>
		First Name: <webobject name="FirstNameString"/><br/>
		Last Name: <webobject name="LastNameString"/><br/>
		Sex: <webobject name = "IsMale">Male</webobject><webobject name = "IsFemale">Female</webobject><br/>
		Big? <webobject name = "IsBig">YES</webobject><webobject name = "NotBig">NO</webobject><br/>
		Tall? <webobject name = "IsTall">YES</webobject><webobject name = "NotTall">NO</webobject><br/>
		Hair color: <webobject name="HairColorString"/><br/>
		Notes: <webobject name="NotesString"/><br/>
		<webobject name="Now"/>
	</div>
	
	<br/>
	<br/>
	
	<webobject name="PartialForm">
		This demonstrates partial form submission (submits a single field at a time on change).<br/>
		State: <webobject name="StatePopup"/><br/>
		County: <webobject name="CountyPopup"/><br/>
		Street: <webobject name="StreetPopup"/><br/>
		Selected street: <webobject name="StreetString"/><br/>
	</webobject>
		
	<br/>
	<br/>
	
	<div id="countContainer">
		The current count is here.  The following link was created entirely in GWT and will increment the count by calling a component action on the server.<br/>
		<webobject name="CountString"/>
	</div>
</div>
</body>
</html>