<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><webobject name="Title"/></title>
</head>
<body>
	<div style="margin: 0 auto; width: 80%;">
		<webobject name="Title"/>
		<br/>
		<br/>GWT class:<br/>
		<webobject name="gwtFrame"/>
		<br/>
		<br/>WOComponent class:<br/>
		<webobject name="javaFrame"/>
		<br/>
		<br/>HTML:<br/>
		<webobject name="htmlFrame"/>
		<br/>
		<br/>WOD:<br/>
		<webobject name="wodFrame"/>

	</div>
</body>
</html>