<webobject name="PageWrapper">

<div>
ImageBundles allow you to easily combine lots of small images 
into a single image file but still display them separately.  
This speeds up load time by reducing the nubmer of http requests.
</div>

<div>This is the first image in the ImageBundle:</div>
<div id="imageContainer1"></div>

<div>This is the second image in the ImageBundle:</div>
<div id="imageContainer2"></div>

<div>This is the third image in the ImageBundle:</div>
<div id="imageContainer3"></div>

<div>This is the fourth image in the ImageBundle:</div>
<div id="imageContainer4"></div>

</webobject>